absl-py==0.9.0
appdirs==1.4.3
apt-clone==0.2.1
astor==0.8.1
bcrypt==4.0.1
bleach==2.1.2
cached-property==1.5.2
certifi==2018.1.18
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
command-not-found==0.3
cryptography==40.0.2
cycler==0.10.0
decorator==4.1.2
distro==1.9.0
distro-info===0.18ubuntu0.18.04.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
flake8==3.5.0
future==0.15.2
gast==0.3.3
google-pasta==0.2.0
greenlet==0.4.12
grpcio==1.24.0
h5py==2.7.1
html5lib==0.999999999
httplib2==0.9.2
idna==2.6
importlib-metadata==4.8.3
iotop==0.6
ipykernel==4.8.2
ipython==5.5.0
ipython_genutils==0.2.0
joblib==0.11
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
language-selector==0.1
lxml==4.6.2
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.1
mccabe==0.6.1
msgpack==0.5.6
nbformat==4.4.0
neovim==0.2.0
netifaces==0.10.4
networkx==1.11
numpy==1.13.3
nvidia-ml-py==7.352.0
PAM==0.4.2
pandas==0.22.0
paramiko==3.4.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
protobuf==3.8.0
psycopg2==2.9.8
pycodestyle==2.3.1
pycparser==2.21
pycuda==2019.1.2
pyflakes==1.6.0
Pygments==2.2.0
PyGObject==3.26.1
pygpu==0.7.6
PyICU==1.9.8
PyNaCl==1.5.0
pyparsing==2.2.0
python-apt==1.6.6
python-dateutil==2.6.1
python-debian==0.1.32
python-dotenv==0.20.0
pytools==2017.6
pytz==2018.3
PyWavelets==0.5.1
PyYAML==3.12
pyzmq==16.0.2
requests==2.27.1
requests-unixsocket==0.1.5
scikit-cuda==0.5.3
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==0.19.1
scour==0.36
screen-resolution-extra==0.0.0
simplegeneric==0.8.1
six==1.14.0
sos==4.4
SQLAlchemy==1.4.52
ssh-import-id==5.7
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.4
tensorflow-serving-api==1.15.0
termcolor==1.1.0
texttable==1.7.0
Theano==1.0.4
torch==1.4.0
torchvision==0.2.2
tornado==4.5.3
traitlets==4.3.2
typing_extensions==4.1.1
ufw==0.36
unattended-upgrades==0.1
url-normalize==1.4.2
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.59.0
Werkzeug==0.14.1
wrapt==1.9.0
xkit==0.0.0
zipp==3.6.0
